body {
    background-color: hsl(239, 79%, 74%)
}

h1 {
    color: hsl(0, 0%, 100%);
   
}

.heading{
    margin:auto;
    padding: 0%;
    background-color: aquamarine;
    width: 500px;
}

.weather-display {
    border:solid;
    height: 100px;
    width:200px;
    grid-column: 
}

.details {
    border:solid;
    height: 100px;
    width:200px;
    grid-column:
}

.days {
    border:solid;
    height: 100px;
    width:200px;
    grid-column:
}

.hourly-forecast {
    border:solid;
    height: 100px;
    width:200px;
    grid-column:
}

.display-content {
    display:grid;
    grid-template-columns: 2fr 1fr;
    row-gap:3rem;

}

.container {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    
}